<% if users.any? %>

<div class="row">
<% users.each do |user| %>
  <div class="card" style="width: 18rem; height: 18rem;">
    <div class="card-body">
      
      <%= image_tag user.profile_image.to_s, size: "200x200" %>
      <h5 class="card-title">
        <%= user.name %>
      </h5>
      <a><%= link_to "profile", user_path(user) %></a>
    </div>
  </div>
<% end %>
</div>
  <%= paginate users %>
<% end %>