<div class="row">
  <aside class="col-sm-4">
    <h3>Profile image</h3>
  </aside>
  
  <div class="col-sm-8">
    <h3><%= @user.name %></h3>
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link">Following</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Follower</a></li>
    </ul>
  </div>

  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Post</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Like</a></li>
    </ul>
  </div>
</div>