<div class="row">
  <aside class="col-sm-4">
    <p>image
    <%= image_tag(@user.profile_image.url, size: "30×30") unless @user.profile_image.file.nil? %>
    </p>
  </aside>
  
  <div class="col-sm-8">
    <h3><%= @user.name %></h3>
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link">Following</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Follower</a></li>
    </ul>
  </div>

  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Post <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">Like</a></li>
    </ul>
    
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>