<% if logged_in? %>

<div class="row">
  <% posts.each do |post| %>
  <div class="card">
    <div class="card-top mt-3 ml-3">
      <%= post.user.name %>
    </div>
    <div class="card-body">
      <%= image_tag post.image.to_s, size: "200x200" %>
    </div>
    <div class="card-text mb-3 ml-3">
      <%= link_to 'more...', post_path(post) %>
    </div>
  </div>


<% end %>
  
<%= paginate posts %>

<% end %>